In [1]:
import requests 
import datetime
import pandas as pd
import altair as alt
import json


from dotenv import load_dotenv
import os

In [2]:
df = pd.read_csv('raw/ref_berlin.csv', header=2)

In [3]:
# rename columns

(
    df
    .rename(
        columns={
            'time': 'day', 
            'temperature_2m_mean (°C)' : 'temperature'
        }, 
        inplace=True
    )
)

In [4]:
# add month to data
df['day'] = pd.to_datetime(df['day'])
df.dtypes

day            datetime64[ns]
temperature           float64
dtype: object

In [5]:
df['year'] = df['day'].dt.to_period('Y')
df['month'] = df['day'].dt.month

In [6]:
# calculate ref period for every month from 1961-1990

df.groupby('month')['temperature'].mean().to_csv('processed/ref_berlin.csv')

In [7]:
# calculate ref period from 1961-1990 (year)

ref = df.groupby('year')['temperature'].mean().to_frame()
ref['ref'] = ref['temperature'].mean()
ref.to_csv('processed/ref_period_berlin.csv')

In [8]:
# data from 2015 -2025

df2 = pd.read_csv('raw/berlin_hist.csv', header=2)

In [9]:
# rename columns

(
    df2
    .rename(
        columns={
            'time': 'day', 
            'temperature_2m_mean (°C)' : 'temperature'
        }, 
        inplace=True
    )
)

In [10]:
# add month to data
df2['day'] = pd.to_datetime(df2['day'])
df2.dtypes

day            datetime64[ns]
temperature           float64
dtype: object

In [11]:
df2['year'] = df2['day'].dt.to_period('Y')
df2['month_year'] = df2['day'].dt.to_period('M')

In [12]:
df2.groupby('year')['temperature'].mean().to_csv('processed/aktuell_berlin.csv')