In [33]:
import requests 
import datetime
import pandas as pd
import json

In [34]:
response = requests.get('https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,weather_code&timezone=auto&forecast_days=1')
berlin = response.json()

response = requests.get('https://api.open-meteo.com/v1/forecast?latitude=40.6501&longitude=-73.9496&current=temperature_2m,weather_code&timezone=auto&forecast_days=1')
brooklyn = response.json()

In [35]:
berlin_temp = berlin['current']['temperature_2m']

In [36]:
brooklyn_temp = brooklyn['current']['temperature_2m']

In [37]:
berlin_code = str(berlin['current']['weather_code'])

In [38]:
brooklyn_code = str(brooklyn['current']['weather_code'])

In [39]:
# add weather code in words

with open("raw/descriptions.json") as f:
    weather_dict = json.load(f)

In [40]:
description_berlin = weather_dict.get(berlin_code, {}).get('day', {}).get('description', 'Unknown')
description_brooklyn = weather_dict.get(brooklyn_code, {}).get('day', {}).get('description', 'Unknown')
description_berlin

'Sunny'

In [41]:
icon_berlin = weather_dict.get(berlin_code, {}).get('day', {}).get('image', 'Unknown')
icon_brooklyn = weather_dict.get(brooklyn_code, {}).get('day', {}).get('image', 'Unknown')

In [42]:
text_berlin1 = f'<strong>{description_berlin}</strong>.'
text_berlin2 = f'<span style="font-size:50px;">![]({icon_berlin})</span>'
text_berlin3 = f'The Temperature is <strong>{berlin_temp}<strong> degree Celcius.'

In [45]:
text_brooklyn1 = f'<strong>{description_brooklyn}</strong>.'
text_brooklyn2 = f'<span style="font-size:50px;">![]({icon_brooklyn})</span>'
text_brooklyn3 = f'The Temperature is <strong>{brooklyn_temp}<strong> degree Celcius.'

'<strong>Sunny</strong>.'

In [44]:
# turn dictionary into dataframe
data = {
    'Field': ['image', 'Temperatur'],
    'Berlin': [text_berlin2, text_berlin3],
    'Brooklyn': [text_brooklyn2, text_brooklyn3]
}

df = pd.DataFrame(data)
df

,Field,Berlin,Brooklyn
0,image,"<span style=""font-size:50px;"">![](http://openw...","<span style=""font-size:50px;"">![](http://openw..."
1,Temperatur,The Temperature is <strong>17.1<strong> degree...,The Temperature is <strong>32.1<strong> degree...

In [29]:
df.to_csv('processed/current.csv', index=False)

In [32]:
df

,Field,Berlin,Brooklyn
0,image,"<span style=""font-size:50px;"">![](http://openw...","<span style=""font-size:50px;"">![](http://openw..."
1,Temperatur,The Temperature is <strong>17.5<strong> degree...,The Temperature is <strong>31.7<strong> degree...