In [4]:
import requests 
import datetime
import pandas as pd
import altair as alt
import json


from dotenv import load_dotenv
import os

load_dotenv()

True

In [5]:
api_key=os.getenv("WEATHERAPI_APIKEY")


response = requests.get('https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,weather_code&timezone=auto&forecast_days=1')
berlin = response.json()

response = requests.get('https://api.open-meteo.com/v1/forecast?latitude=40.6501&longitude=-73.9496&current=temperature_2m,weather_code&timezone=auto&forecast_days=1')
brooklyn = response.json()

In [6]:
berlin_temp = berlin['current']['temperature_2m']

In [7]:
brooklyn_temp = brooklyn['current']['temperature_2m']

In [8]:
berlin_code = str(berlin['current']['weather_code'])

In [9]:
brooklyn_code = str(brooklyn['current']['weather_code'])

In [10]:
# add weather code in words

with open("raw/descriptions.json") as f:
    weather_dict = json.load(f)

In [11]:
description_berlin = weather_dict.get(berlin_code, {}).get('day', {}).get('description', 'Unknown')
description_brooklyn = weather_dict.get(brooklyn_code, {}).get('day', {}).get('description', 'Unknown')
description_berlin

'Sunny'

In [12]:
icon_berlin = weather_dict.get(berlin_code, {}).get('day', {}).get('image', 'Unknown')
icon_brooklyn = weather_dict.get(brooklyn_code, {}).get('day', {}).get('image', 'Unknown')

In [20]:
text_berlin1 = f'<strong>{description_berlin}</strong>.'
text_berlin2 = f'<span style="font-size:50px;">![]({icon_berlin})</span>'
text_berlin3 = f'The Temperature is {berlin_temp} degree Celcius.'

In [21]:
text_brooklyn1 = f'<strong>{description_brooklyn}</strong>.'
text_brooklyn2 = f'<span style="font-size:50px;">![]({icon_brooklyn})</span>'
text_brooklyn3 = f'The Temperature is {brooklyn_temp} degree Celcius.'

In [31]:
# turn dictionary into dataframe
data = {
    'Field': ['How is the weather', 'image', 'Temperatur'],
    'Berlin': [text_berlin2, text_berlin3],
    'Brooklyn': [text_brooktext_brooklyn2, text_brooklyn3]
}

df = pd.DataFrame(data)
df

,Field,Berlin,Brooklyn
0,How is the weather,<strong>Sunny</strong>.,<strong>Cloudy</strong>.
1,image,"<span style=""font-size:50px;"">![](http://openw...","<span style=""font-size:50px;"">![](http://openw..."
2,Temperatur,The Temperature is 18.0 degree Celcius.,The Temperature is 32.6 degree Celcius.

In [32]:
df.to_csv('processed/current.csv', index=False)