In [28]:
import requests
import pandas as pd
import logging

from pystatis import Find
from pystatis import Table

logging.basicConfig(level=logging.INFO)

In [5]:
results = Find("Berlin", db_name="zensus")

In [9]:
results.run()

INFO:pystatis.http_helper:Code 0: erfolgreich
INFO:pystatis.http_helper:Code 0: erfolgreich
INFO:pystatis.http_helper:Code 0: erfolgreich
INFO:pystatis.http_helper:Code 0: erfolgreich

##### Results #####
----------------------------------------
# Number of tables: 100
# Preview:
|    | Code       | Content                                           | Time   |
|---:|:-----------|:--------------------------------------------------|:-------|
|  0 | 1000A-0000 | Personen: Bevölkerungszahl                        |        |
|  1 | 1000A-0001 | Personen: Bevölkerungszahl und Fläche (Gemeinden) |        |
|  2 | 1000A-1001 | Personen: Alter (10er-Jahresgruppen)              |        |
|  3 | 1000A-1002 | Personen: Alter (11 Altersklassen)                |        |
|  4 | 1000A-1003 | Personen: Alter (5 Altersklassen)                 |        |
----------------------------------------
# Number of statistics: 12
# Preview:
|    | Code   | Content                                            |   Cubes | Information   |
|---:|:-------|:---------------------------------------------------|--------:|:--------------|
|  0 | 1000A  | Bevölkerung kompakt (Gebietsstand 15.05.2022)      |      90 | true          |
|  1 | 1000X  | Bevölkerung kompakt (Gebietsstand 09.05.2011)      |      10 | true          |
|  2 | 2000S  | Bevölkerung: Bildung, Erwerb (Stand 15.05.2022)    |      50 | true          |
|  3 | 2000X  | Bev: Bildung, Erwerb, Migration (Stand 09.05.2011) |   12787 | true          |
|  4 | 3000G  | Gebäude (Gebietsstand 15.05.2022)                  |      20 | true          |
----------------------------------------
# Number of variables: 20
# Preview:
|    | Code   | Content                            | Type     |   Values | Information   |
|---:|:-------|:-----------------------------------|:---------|---------:|:--------------|
|  0 | GEOBL1 | Bundesländer                       | räumlich |       16 | true          |
|  1 | GEOBL3 | Bundesländer                       | räumlich |       16 | true          |
|  2 | GEOBZ1 | Bezirke (Hamburg und Berlin)       | räumlich |       19 | false         |
|  3 | GEOEV1 | Landeskirche (Evangelische Kirche) | räumlich |       19 | true          |
|  4 | GEOEV2 | Kirchenkreis (Evangelische Kirche) | räumlich |      489 | true          |
----------------------------------------
# Number of cubes: 0
# Preview:

----------------------------------------
# Use object.tables, object.statistics, object.variables or object.cubes to get all results.
----------------------------------------

In [37]:
results.tables.df

          Code                                                                                                                                                          Content Time
0   1000A-0000                                                                                                                                       Personen: Bevölkerungszahl
1   1000A-0001                                                                                                                Personen: Bevölkerungszahl und Fläche (Gemeinden)
2   1000A-1001                                                                                                                             Personen: Alter (10er-Jahresgruppen)
3   1000A-1002                                                                                                                               Personen: Alter (11 Altersklassen)
4   1000A-1003                                                                                                                                Personen: Alter (5 Altersklassen)
..         ...                                                                                                                                                              ...  ...
95  1000A-2026  Personen: Geschlecht - Alter (10er-Jahresgruppen)/Alter (11 Altersklassen)/Alter (5 Altersklassen)/Alter (5er-Jahresgruppen)/Alter (Infrastrukt. Altersgruppen)
96  1000A-2027                                                                                                                    Personen: Geschlecht - Alter (Jahresschritte)
97  1000A-2028                                                                                         Personen: Geschlecht - Familienstand/Familienstand(ausführlich)/Religion
98  1000A-2029                                                                                                       Personen: Geschlecht - Geburtsland (Gruppen)/Geburtsländer
99  1000A-2030                                                                                                            Personen: Geschlecht - Geburtsland (Häufigste Länder)

[100 rows x 3 columns]

In [29]:
t = Table(name="1000A-2029")

In [31]:
t.get_data()

INFO:pystatis.cache:Data was successfully cached under /Users/helenawittlich/.pystatis/data/1000A-2029/bf3cc76ffa5b75b83130/20250617.zip.
INFO:pystatis.http_helper:Database selected: zensus
INFO:pystatis.http_helper:Code 0: erfolgreich

In [32]:
t.data.head()

    Stichtag Amtlicher Regionalschlüssel (ARS)__Code Amtlicher Regionalschlüssel (ARS) Geschlecht Geburtsland (Gruppen)  Personen__Anzahl
0 2022-05-15                                      01                Schleswig-Holstein  Insgesamt             Insgesamt           2927542
1 2022-05-15                                      01                Schleswig-Holstein  Insgesamt  Ausland und Sonstige            408796
2 2022-05-15                                      01                Schleswig-Holstein  Insgesamt           Deutschland           2518740
3 2022-05-15                                      01                Schleswig-Holstein  Insgesamt   EU27-Land (EU_2020)            133778
4 2022-05-15                                      01                Schleswig-Holstein  Insgesamt      Sonstiges Europa            109172

In [35]:
df = t.data

In [40]:
df.columns

Index(['Stichtag', 'Amtlicher Regionalschlüssel (ARS)__Code',
       'Amtlicher Regionalschlüssel (ARS)', 'Geschlecht',
       'Geburtsland (Gruppen)', 'Personen__Anzahl'],
      dtype='object')

In [44]:
df[['Amtlicher Regionalschlüssel (ARS)'].value_

SyntaxError: incomplete input (2815846466.py, line 1)

In [45]:
df.describe

<bound method NDFrame.describe of       Stichtag Amtlicher Regionalschlüssel (ARS)__Code Amtlicher Regionalschlüssel (ARS) Geschlecht Geburtsland (Gruppen)  Personen__Anzahl
0   2022-05-15                                      01                Schleswig-Holstein  Insgesamt             Insgesamt           2927542
1   2022-05-15                                      01                Schleswig-Holstein  Insgesamt  Ausland und Sonstige            408796
2   2022-05-15                                      01                Schleswig-Holstein  Insgesamt           Deutschland           2518740
3   2022-05-15                                      01                Schleswig-Holstein  Insgesamt   EU27-Land (EU_2020)            133778
4   2022-05-15                                      01                Schleswig-Holstein  Insgesamt      Sonstiges Europa            109172
..         ...                                     ...                               ...        ...                   ...               ...
403 2022-05-15                                      DG                       Deutschland   Weiblich   EU27-Land (EU_2020)           2877300
404 2022-05-15                                      DG                       Deutschland   Weiblich      Sonstiges Europa           2474904
405 2022-05-15                                      DG                       Deutschland   Weiblich              Sonstige             97480
406 2022-05-15                                      DG                       Deutschland   Weiblich         Sonstige Welt           2385351
407 2022-05-15                                      DG                       Deutschland   Weiblich           Deutschland          34210469

[408 rows x 6 columns]>